.section {
  margin-top: 20px;
  margin-left: 30px;
}

.title {
  font-size: 30px;
}

.btnList {
  display: flex;
  gap: 20px;
  list-style: none;
}

.btn {
  padding: 5px 10px;
}

.statsList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.statsItem {
  font-size: 20px;
  font-style: bold;
}

.message {
  font-size: 18px;
}
